.Home {
  
  &.homeContainer {
    color: red;
    text-align: center;
    margin: 0;
    margin-top: 50%;
  }

  .logo {
    height: 25vh;
    width: 60%;
    max-width: 420px;
    margin: auto;
    margin-bottom: 10%;
    img {
      margin: 0;
      width: 50%;
      height: auto;
    }
    @media screen and (min-width: 425px) {
      img {
        width: 35%;
      }
    }
    @media screen and (min-width: 1440) {
      img {
        width: 30%;
      }
    }
  }

  .headerText {
    display: flex;
    flex-direction: row;
    justify-content: center;
    h2 {
      font-family: Montserrat;
      font-weight: 200;
      font-size: 1.5em;
      line-height: 1.6em;
      color: var(--dark-blue);
    }
    h3 {
      font-family: Damion;
      font-weight: 700;
      font-size: 1.9em;
      color: var(--peach);
    }
  }
  
  .linksContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    a {
      text-decoration: none;
      color: var(--dark-blue);
    }
  }

  .breatheButton, .setupButton {
    display: block;
    border: solid var(--light-blue) 4px;
    border-radius: 15px;
    background-color: white;
    width: 15em;
    height: 3em;
    margin: auto;
    margin-top: 1em;
    color: var(--dark-blue);
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
  
    &:hover {
      border: none;
      background-color: var(--light-blue);
      color: white;
      cursor: pointer;
      text-decoration: none;
    }
  }
}
