.NavBar {
  margin-top: 2em;
  
  a {
    text-align: center;
    text-decoration: none;
  }

  button {
    border: solid var(--light-blue) 2px;
    border-radius: 8px;
    width: 8em;
    height: 2.3em;
    background-color: white;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 12px;
    margin-left: 1.5em;
    color: var(--dark-blue);
  }
  button:hover {
    background-color: var(--light-blue);
    border: none;
    color: white;
    cursor: pointer;
  }
}

.NavigationFooter {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 5;
  bottom: 0;
  background-color: var(--light-grey);
  width: 100vw;
  max-width: 700px;
  height: calc(38px + 2vh);
  a {
    margin: auto;
    margin-left: 11em;
    margin-right: 1em;
  }
  img {
    width: 65%;
    height: auto;
  }
}
